
html,body{
    height:100%;
    min-height: 0%;
    background-color:rgb(236, 235, 235);
}
/* 레이아웃 설정 */
.container{
    background-color:white;
    margin: 0 auto;
    width: 462px;
    height: auto;
    display:grid;
    grid-template: 1.7fr 7fr 1.3fr /1fr 1fr 1fr 1fr;    
    grid-template-areas: 
        'header header header header'
        'section section section section'
        'footer footer footer footer';
    box-sizing: border-box;
    padding: 0 20px;
}
/* 헤더 스타일 */
header{
    grid-area: header;
    text-align: center;
    
}
#musinsa_logo{
    box-sizing: border-box;
    padding: 13% 0 0 0 ;
}
#musinsa_logo > h1 {
    font-size: 28px;
}
#musinsa_logo > h1 > span{
    font-weight: lighter;
}
/* 콘텐츠 스타일 */
section{
    grid-area: section;
    
}
#login_box{
    height: auto;
   
}
#id_box{
    width:70%;
    height:40px;
    margin: 0 auto;
    display: block;
    
}
#password_box{
    width:70%;
    height:40px;
    margin: 0 auto;
    display: block;
    margin: 10px auto ;
}
#log_button{
    display: block;
    width:71%;
    height: 50px;
    background-color:black;
    color:white;
    margin: 20px auto 10px auto;
    font-weight: bold;
    font-size:18px;
}

#auto_log{
        vertical-align: sub;
        width:20px;
        height: 20px;
        margin: 10px 5px 10px 60px;
        
        
}
#info_list{
    box-sizing: border-box;
    margin: 20px auto 20px;
    list-style: none;
    
}
#info_list > li > a{
    float: left;
    padding: 0 10px;
    text-decoration-line: none;
    color:lightgray;
}
#sign_up{
    margin:  0 15px 0;
    border-right: 1px solid lightgray;
    
}
#search_id{
    border-right: 1px solid lightgray;
}
#last_li{
    
    border-right:1px solid white;
}
#kakao_log{
    width:70%;
    height:40px;
    margin: 20px 0 20px 61px;
    background-color:rgb(255, 230, 0);
    text-align: center;
    border:1px solid rgb(255, 230, 0);;
    border-radius: 8px 8px;
    font-weight: bold;
}
#apple_log{
    background-color: white;
    width:70%;
    height:40px;
    margin: 10px auto;
    text-align: center;
    display: block;
    border:1px solid rgba(0, 0, 0, 0.281);
    border-radius: 8px 8px;
    font-weight: bold;
}
#log_info{
    box-sizing: border-box;
    padding: 0 70px;
    overflow: hidden;
    height: auto;
}
#buy_info_check{
    list-style: none;
}
#buy_bt{
    float: left;
    width:50%;
    height: 45px;
}

#check_order{
    float: left;
    width:50%;
    height:45px;
}
.clear{
    clear: both;
}
#log_info > p{
    font-weight: bold;
    margin: 5px 0;
    font-size: 14px;
}
#buy_info{
    width:100%;
}
#true_file{
    vertical-align: sub;
    width:20px;
    height: 20px;
    margin: 10px 0;
}
#buy_nonuser{
    display: block;
    width:100%;
    height: 50px;
    background-color:black;
    color:white;
    margin: 20px auto 10px auto;
    font-weight: bold;
    font-size:18px;
}
/*푸터 스타일  */
footer{
    height: auto;
    grid-area: footer;
    
}
#other_zone{
    box-sizing: border-box;
    padding: 80px 60px 0 60px;
}

#user_ul > li{
    list-style: none;
    float: left;
    font-size: 14px;
    margin: 0 6px 0 0;
}
